<head>
  <!-- BGN: YourOnly.One Head-01-Top -->
    {{- if templates.Exists "partials/youronly.one-head-01-top.html" -}}
      {{ partial "youronly.one-head-01-top.html" . }}
    {{- end }}
  <!-- END: YourOnly.One Head-01-Top -->

  <!-- BGN: Return to main page -->
    {{ if or .IsSection .IsPage }}<meta http-equiv="refresh" content="0; url='{{ .Site.BaseURL }}'" />{{ end }}
  <!-- END: Return to main page -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ if .Site.Params.Author }}
  <meta name="author" content="{{ .Site.Params.Author }}" />
  {{ end }}
  {{ if .Site.Params.Description }}
  <meta
    name="description"
    content="{{ .Site.Params.Description }}"
    class="p-summary"
  />
  {{ end }}
  <title class="p-name">{{ .Site.Title }}</title>

  {{ $styles := resources.Get "css/main.css" | postCSS (dict "config" "./postcss.config.js") | minify | fingerprint "sha512" | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" type="text/css" />

  {{- /* NOTE: Moved theme's inline style to a file */ -}}
  {{ with resources.Get "css/theme.css" | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" media="all" type="{{ .MediaType }}" />
  {{ end }}

  <!-- BGN: YourOnly.One Head-02-Bottom -->
    {{- if templates.Exists "partials/youronly.one-head-02-btm.html" -}}
      {{ partial "youronly.one-head-02-btm.html" . }}
    {{- end }}
  <!-- END: YourOnly.One Head-02-Bottom -->
</head>
